[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==39.0.2"
pycryptodome = "==3.16.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
