[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==38.0.4"
pycryptodome = "==3.17"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
